$body-background-color: #fffaf7;
$sidebar-color: #fff2ec;
$search-background-color: #fffaf7;
$table-background-color: #fffaf7;
$code-background-color: #fff2ec;

$body-heading-color: #5a1218;
$body-text-color: #33272a;
$link-color: #b1192a;
$nav-child-link-color: #7d3b40;
$search-result-preview-color: #6f4b4f;

$border-color: #f0c7bd;

$btn-primary-color: #b1192a;
$base-button-color: #fff2ec;

$feedback-color: #fff2ec;
